/* html */
html {
  position: relative;
  min-width: 320px;
  min-height: 100%;
  font-size: 1rem;
  line-height: 1.5;
  background: var(--primary-background-color);
  &:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../img/bg/main-bg.jpg) center top no-repeat;
    background-size: 120rem 875rem;
    content: "";
    }
  }

/* body */
body { 
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  font-weight: var(--primary-font-weight);
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  }

/* a */
a {
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color .5s linear;
  &:hover {
    color: var(--primary-text-color);
    }
  }

/* b, strong */
b, strong {
  font-weight: var(--fifth-font-weight);
  }

/* ul, ol */
ul, ol {
  list-style: none;
  }

/* label */
label {
  display: block;
  margin: 0 0 0.3125rem;
  font-size: 1rem;
  font-weight: var(--primary-font-weight);
  line-height: 1.5rem;
  cursor: text;
  }

/* input */
input[type='tel'],   
input[type='text'],
input[type='email'],
input[type='password'] {
  margin: 0;
  padding: 0 1.25rem;
  width: 100%;
  height: 3.625rem;
  color: var(--primary-text-color);
  font-size: 1rem;
  font-family: var(--primary-font-family);
  font-weight: var(--primary-font-weight);
  border: 0.0625rem solid rgba(255, 255, 255, 0.06);
  background: linear-gradient(180deg, rgb(12, 13, 15) 0%, rgb(7, 8, 10) 100%);
  border-radius: 0.75rem;
  box-shadow: 0 0.0625rem 0.0625rem 0 rgba(255, 255, 255, 0.1) inset;
  transition: 0.5s all;
  }

input[type='tel']:focus,   
input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus {
  outline: none !important;
  }

input[type='tel']::-moz-placeholder,
input[type='text']::-moz-placeholder,
input[type='email']::-moz-placeholder,
input[type='password']::-moz-placeholder {
  color: var(--secondary-text-color);
  }

input[type='tel']::-webkit-input-placeholder,
input[type='text']::-webkit-input-placeholder,
input[type='email']::-webkit-input-placeholder,
input[type='password']::-webkit-input-placeholder {
  color: var(--secondary-text-color);
  }

/* input-field */
.input-field {
  position: relative;
  padding: 0 0.875rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.06);
  background: linear-gradient(180deg, rgb(12, 13, 15) 0%, rgb(7, 8, 10) 100%);
  border-radius: 0.75rem;
  box-shadow: 0 0.0625rem 0.0625rem 0 rgba(255, 255, 255, 0.1) inset;
  label {
    position: absolute;
    display: block;
    margin: 0;
    top: 1.125rem;
    left: 1.25rem;
    color: var(--secondary-text-color);
    font-size: 1rem;
    line-height: 1.25rem;
    transition: .5s all;
    }
  input {
    padding: 0;
    border: 0;
    background: none;
    box-shadow: none;
    &:focus {
      padding: 1.625rem 0 0.75rem;
      + label {
        top: 0.5625rem;
        left: 0.875rem;
        font-size: 0.75rem;
        line-height: 0.9375rem;
        }
      }
    &:valid {
      padding: 1.625rem 0 0.75rem;
      + label {
        top: 0.5625rem;
        left: 0.875rem;
        font-size: 0.75rem;
        line-height: 0.9375rem;
        }
      }
    }
  }

/* textarea */
textarea {
  margin: 0;
  padding: 1.25rem 1.25rem;
  width: 100%;
  height: 13.5rem;
  color: var(--primary-text-color);
  font-size: 1rem;
  font-family: var(--primary-font-family);
  font-weight: var(--primary-font-weight);
  line-height: 1.25rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.06);
  background: linear-gradient(180deg, rgb(12, 13, 15) 0%, rgb(7, 8, 10) 100%);
  border-radius: 0.75rem;
  box-shadow: 0 0.0625rem 0.0625rem 0 rgba(255, 255, 255, 0.1) inset;
  transition: .5s all;
  overflow: auto;
  resize: none;
  &::-moz-placeholder {
    color: var(--secondary-text-color);
    }
  &::-webkit-input-placeholder {
    color: var(--secondary-text-color);
    }
  &:focus {
    outline: none !important;
    }
  }

/* wrapper */
.wrapper {
  position: relative;
  }

/* container */
.container {
  margin: 0 auto;
  padding: 0 0.9375rem;
  max-width: 91.875rem;
  width: 100%;
  }

/* btn */
.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1.125rem 1.25rem;
  vertical-align: top;
  color: var(--primary-text-color);
  font-size: 1.125rem;
  font-family: var(--primary-font-family);
  font-weight: var(--tertiary-font-weight);
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
  border: 0;
  background: rgba(0, 0, 0, 0.33);
  backdrop-filter: blur(5rem);
  border-radius: 2.125rem;
  cursor: pointer;
  transition: 0.5s all;
  box-shadow: none;
  &:hover {
    color: var(--primary-text-color);
    background: rgba(0, 0, 0, 0.66);
    }
  &:before {
    position: absolute;
    inset: 0;
    border-radius: 2.125rem;
    padding: 0.0625rem;
    background: linear-gradient(176deg, rgb(255, 255, 255) 0%, rgba(204, 204, 204, 0) 50%, rgb(255, 255, 255) 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    opacity: 0.3;
    content: "";
    }
  span {
    position: relative;
    display: block;
    z-index: 5;
    }
  &_style-two {
    &:before {
      padding: 0.125rem;
      background: linear-gradient(175deg,
        rgba(250, 21, 147, 0.5) 2.08%,
        rgba(117, 0, 55, 0.5) 37.27%,
        rgba(0, 75, 107, 0.5) 67.87%,
        rgba(149, 222, 255, 0.5) 100%);
      background-size: 200% 200%;
      opacity: 1;
      transition: .5s opacity;
      animation: gradient-wave 3s ease-in-out infinite;
      }
    &:after {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: radial-gradient(70% 390.67% at 50% 34.17%, #FA1593 0%, #750037 35.94%, #004B6B 67.19%, #95DEFF 100%);
      border-radius: 2.125rem;
      content: "";
      transition: .5s opacity;
      opacity: 0;
      }
    &:hover {
      &:before {
        opacity: 0;
        }
      &:after {
        opacity: 1;
        }
      }
    span {
      position: relative;
      display: block;
      z-index: 10;
      }
    }
  &_style-three {
    padding: 0 0.9375rem;
    font-size: 0.875rem;
    line-height: 2rem;
    background: radial-gradient(61.31% 716.58% at 50% 34.17%, #FA1593 0%, #750037 35.94%, #004B6B 67.19%, #95DEFF 100%);
    border-radius: 1.125rem;
    box-shadow: 0.125rem 0.125rem 0.2875rem 0rem rgba(255, 255, 255, 0.75) inset,
                0.75rem -0.5rem 2.8rem 0rem #81DCFF inset,
                0.0625rem 0.1875rem 0.4875rem 0.3125rem rgba(121, 195, 255, 0.33);
    backdrop-filter: blur(2.1rem);

    &:before {
      display: none;
      }
    &:hover {
      background: radial-gradient(61.31% 716.58% at 50% 34.17%, #FA1593 0%, #750037 35.94%, #004B6B 67.19%, #95DEFF 100%);
      opacity: 0.8;
      }
    }
  &_full-size {
    display: flex;
    width: 100%;
    }
  }

@keyframes gradient-wave {
  0% {
    background-position: 0% 50%;
    }
  50% {
    background-position: 100% 50%;
    }
  100% {
    background-position: 0% 50%;
    }
  }

/* title */
.title {
  margin: 0 0 4.6875rem;
  font-size: 2.25rem;
  font-weight: var(--quaternary-font-weight);
  text-align: center;
  line-height: 2.5rem;
  }

/* small-title */
.small-title {
  margin: 0 0 4.6875rem;
  font-size: 1.25rem;
  font-weight: var(--quaternary-font-weight);
  text-align: center;
  line-height: 1.5rem;
  }

/* btn-panel */
.btn-panel {
  padding: 1.625rem 0 0;
  }