/* root */
:root {

  /* text color */
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #797979;
  --tertiary-text-color: #000000;

  /* font-family */
  --primary-font-family: 'Unbounded', sans-serif;

  /* font-weight */
  --primary-font-weight: 400;
  --secondary-font-weight: 500;
  --tertiary-font-weight: 600;
  --quaternary-font-weight: 700;
  --fifth-font-weight: 300;

  /* border-color */
  --primary-border-color: #FFFFFF;
  --secondary-border-color: #ECECEC;

  /* btn-color */
  --primary-btn-color: #E6E6E6;
  --secondary-btn-color: #FFFFFF;
  --tertiary-btn-color: #0F0F21;
  --quaternary-btn-color: #242565;

  /* background-color */
  --primary-background-color: #0C0C0C;
  --secondary-background-color: #282828;
  --tertiary-background-color: #FFFFFF;

  }